@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    margin: 0px;
    padding: 0px;
}

.bg_header {
    background-color: rgb(50, 60, 195);
}

.img_cv_blanco {
    width: 30px; /*ancho */
    height: 40px;
}

.card_cv01 {
    width: 22rem;
    /*ancho */
    height: 30rem;
    /*  alto */
}

.img_cv02 {
    width: 15rem; /*ancho */
    height: 22rem; /*  alto */
}

.texto_main {
    font-size: 15px;
}

.circulo {
    border-radius: 50%
}

.bg_barra {
    background-color: rgb(229, 231, 233);
}

.img_iguana {
    width: 20git srem; /*ancho */
    height: 22rem; /*  alto */
}

.img_cuppon {
    width: 20rem; /*ancho */
    height: 22rem; /*  alto */
}
.bg-colorbar-alto{
    background-color: #00a09a !important;
}

.bg-colorbar-medio{
    background-color: #FFB236 !important;
}