@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    margin: 0px;
    padding: 0px;
}

.bg_header {
    background-color: rgb(50, 60, 195);
}

.img_cv_blanco {
    width: 30px; /*ancho */
    height: 40px;
}

.img_cv01 {
    width: 20rem; /* ancho */
    height: 23rem; 
}

.img_cv02 {
    width: 18rem; /* ancho */
    height: 23rem;
}

.card_cv01 {
    width: 22rem;     /*ancho */
}

.texto_main {
    font-size: 15px;
}

.circulo {
    border-radius: 50%
}

.bg_barra {
    background-color: rgb(229, 231, 233);
}